{% extends 'base.html' %}
{% block title %} Aayush Samaiyar {% endblock title %}
{% block HomeActive %}active{% endblock HomeActive %}

{% block main %}
      <main>
        <h1 class="mb-0">Hi, I'm <br><span style="color:#F73859; font-weight: bold;">Aayush Samaiyar</span></h1>
        <div class="mb-5">
        <p class="lead mb-3">Full Stack Web Designer &amp; Developer</p>
        
        <p>
          I’m a nice, fun and friendly person, I’m honest and punctual, I work well in a team but also on my own as I like to set myself goals which I will achieve, I have good listening and communication skills. I have a creative mind and am always up for new challenges. I am well organized and always plan ahead to make sure I manage my time well.
        </p>
        <p>Presently, I am learning machine learning and data science. I am always open to collaborating on new projects.</p>
      </div>
        <p class="lead mt-4">Connect with me on</p>
        <p>
          <a href="https://twitter.com/aayush_samaiyar" class="mr-2 mb-2">Twitter</a>
          <a href="https://www.facebook.com/aayush.samaiyar/" class="mr-2 mb-2">Facebook</a>
          <a href="https://www.instagram.com/aayushsamaiyar/" class="mr-2 mb-2">Instagram</a> 
          <a href="https://www.linkedin.com/in/aayush-samaiyar-2a7365191/" class="mr-2 mb-2">LinkedIn</a> 
       </p>

      <!-- <h2 class="mb-4 mt-5">Hire Me For Services Related To</h2>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-cube"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Web Applications </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam.</p>
              </div>
            </div>
          </div>  
        </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-android-cart"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">eCommerce Websites</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati totam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-bonfire"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Branding Identity </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-videocamera"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Video Editing</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati totam.</p>
              </div>
            </div>
          </div>
           -->
          
        
      </main>

{% endblock main %}
