{% extends 'base.html' %}
{% block title %}AS - Resume{% endblock title %}
{% block ResumeActive %}active{% endblock ResumeActive %}

{% block main %}
      <main>
        <a href="/" class="home-button"><span class="fa fa-home"></span></a>
        <h1 class="mb-5">Experience 🏛 </h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>INTERN, at Engineers Cradle</h3>
              <p class="date">July 21, 2021 to Present</p>
              <p>I an working here as a Backend intern</p>
            </li>
            <li>
              <h3>Technical head at IEEE PES VIT</h3>
              <p class="date">January 2021– present</p>
              <p>Here my role is to maintain chapter website and mentor juniors for their work towards the IEEE chapter by making new projects, helping them with their existing projects and also to help them learn new languages. </p>
            </li>
          </ul>
        </div>
        <h1 class="mb-5">Education 🎓</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>Vellore Institute of Technology, Vellore</h3>
              <p class="date">July, 2019 to Present</p>
              <p>Pursuing B-tech in Information Technology</p>
            </li>
            <li>
              <h3>Sri Chaitanya, Hyderabad</h3>
              <p class="date">April,2017 – April,2019</p>
              <p>11<sup>th</sup> standard to 12<sup>th</sup> Standard<br>Percentage - 91.2% <br>Grade - A1</p>
            </li>
            <li>
              <h3>Delhi Public School, Patna</h3>
              <p class="date">April,2007 – March,2017</p>
              <p>I have studies there till Class 10<sup>th</sup><br>CGPA -10<br>Grade – A1</p>             
            </li>
          </ul>
        </div>
        <h1 class="mb-5">Skills 🎖</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>Programming language</h3>
              <p>Python</p>
              <p>C language</p>
              <p>C++ language</p>
              <p>Data Structure and Algorithims</p>
            </li>
            <li>
              <h3>Web Development: </h3>
              <p>HTML</p>
              <p>CSS</p>
              <p>Javascript</p>
              <p>BootStrap</p>
              <p>Node Js</p>
              <p>Django</p>
              <p>PHP</p>
            </li>
          </ul>
        </div>
      </main>
{% endblock main %}
